In [4]:
from functools import partial
import multiprocessing
import numpy as np
import pandas as pd
from myfunctions import *

# I. 
## Inward/Outward protection rates of a new mask and a old masks are 0.7 and 0.5
## Mask production does not growth

In [2]:
def SRA(m=0.1,I_0=0.01):
    d0 = (1-(17/18)**14) * 0.0138 * I_0

    Nation = Threeperiod_SIRD(S=1-I_0,I=I_0,q_0=m,q1_0=0,q1_1=0)
    Nation.serveralupdates(2)
    d1_phi, d1_n = Nation.d1_0, Nation.d1_1

    q1 = m/(1-d0)

    q2_coef = (1-d0)*( (1-d1_phi)*(1-m) + (1-d1_n)*m )

    q2 = m/q2_coef

    func = evaluate_death(S=1-I_0,I=I_0,q_0=m,q1_0=q1,q1_1=q1,q2_00=q2,q2_10=q2,q2_01=q2,q2_11=q2,t=300)

    return {'func':func,'q1':q1,'q2':q2}

In [3]:
m_vals=np.linspace(0.1,0.8,40)

result=map(lambda x: SRA(x,I_0=0.01),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func', 'q1','q2'])
data['m_vals']=m_vals
data=data.rename(columns={'func':'D_vals'})

data.to_csv('SRA.csv',index=False)
data

      D_vals        q1        q2    m_vals
0   0.001903  0.100008  0.100032  0.100000
1   0.001783  0.117958  0.117985  0.117949
2   0.001670  0.135908  0.135938  0.135897
3   0.001564  0.153858  0.153890  0.153846
4   0.001465  0.171808  0.171842  0.171795
5   0.001373  0.189758  0.189794  0.189744
6   0.001287  0.207708  0.207746  0.207692
7   0.001207  0.225658  0.225697  0.225641
8   0.001133  0.243608  0.243648  0.243590
9   0.001064  0.261558  0.261599  0.261538
10  0.000999  0.279508  0.279550  0.279487
11  0.000939  0.297459  0.297500  0.297436
12  0.000883  0.315409  0.315451  0.315385
13  0.000832  0.333359  0.333401  0.333333
14  0.000783  0.351309  0.351352  0.351282
15  0.000739  0.369259  0.369302  0.369231
16  0.000697  0.387209  0.387252  0.387179
17  0.000659  0.405159  0.405202  0.405128
18  0.000623  0.423109  0.423152  0.423077
19  0.000590  0.441059  0.441102  0.441026
20  0.000559  0.459009  0.459052  0.458974
21  0.000531  0.476959  0.477002  0.476923
22  0.000504  0.494909  0.494952  0.494872
23  0.000480  0.512859  0.512902  0.512821
24  0.000457  0.530810  0.530852  0.530769
25  0.000436  0.548760  0.548802  0.548718
26  0.000416  0.566710  0.566752  0.566667
27  0.000398  0.584660  0.584703  0.584615
28  0.000381  0.602610  0.602653  0.602564
29  0.000365  0.620560  0.620604  0.620513
30  0.000350  0.638510  0.638554  0.638462
31  0.000337  0.656460  0.656505  0.656410
32  0.000324  0.674410  0.674456  0.674359
33  0.000312  0.692360  0.692407  0.692308
34  0.000301  0.710310  0.710358  0.710256
35  0.000291  0.728260  0.728309  0.728205
36  0.000281  0.746211  0.746260  0.746154
37  0.000272  0.764161  0.764212  0.764103
38  0.000264  0.782111  0.782164  0.782051
39  0.000256  0.800061  0.800115  0.800000

# II. 
## Inward/Outward protection rates of a new mask and a old masks are 0.7 and 0.5
## Mask production growths. $m_2=1.15m_0$

In [4]:
def SRA_growth(m=0.1,I_0=0.01):
    d0 = (1-(17/18)**14) * 0.0138 * I_0

    Nation = Threeperiod_SIRD(S=1-I_0,I=I_0,q_0=m,q1_0=0,q1_1=0)
    Nation.serveralupdates(2)
    d1_phi, d1_n = Nation.d1_0, Nation.d1_1

    m0,m1,m2=m,m,1.15*m

    q1 = m1/(1-d0)

    q2_coef = (1-d0)*( (1-d1_phi)*(1-m0) + (1-d1_n)*m0 )

    q2 = m2/q2_coef

    func = evaluate_death(S=1-I_0,I=I_0,q_0=m,q1_0=q1,q1_1=q1,q2_00=q2,q2_10=q2,q2_01=q2,q2_11=q2,t=300)

    return {'func':func,'q1':q1,'q2':q2}

In [5]:
m_vals=np.linspace(0.1,0.8,40)

result=map(lambda x: SRA_growth(x,I_0=0.01),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func', 'q1','q2'])
data['m_vals']=m_vals
data=data.rename(columns={'func':'D_vals'})

data.to_csv('SRA mm115m.csv',index=False)
data

      D_vals        q1        q2    m_vals
0   0.001881  0.100008  0.115037  0.100000
1   0.001758  0.117958  0.135683  0.117949
2   0.001644  0.135908  0.156328  0.135897
3   0.001537  0.153858  0.176974  0.153846
4   0.001437  0.171808  0.197619  0.171795
5   0.001345  0.189758  0.218263  0.189744
6   0.001259  0.207708  0.238908  0.207692
7   0.001179  0.225658  0.259552  0.225641
8   0.001104  0.243608  0.280195  0.243590
9   0.001035  0.261558  0.300839  0.261538
10  0.000971  0.279508  0.321482  0.279487
11  0.000912  0.297459  0.342126  0.297436
12  0.000857  0.315409  0.362769  0.315385
13  0.000806  0.333359  0.383411  0.333333
14  0.000759  0.351309  0.404054  0.351282
15  0.000715  0.369259  0.424697  0.369231
16  0.000675  0.387209  0.445340  0.387179
17  0.000637  0.405159  0.465982  0.405128
18  0.000603  0.423109  0.486625  0.423077
19  0.000570  0.441059  0.507267  0.441026
20  0.000541  0.459009  0.527910  0.458974
21  0.000513  0.476959  0.548552  0.476923
22  0.000488  0.494909  0.569195  0.494872
23  0.000464  0.512859  0.589837  0.512821
24  0.000442  0.530810  0.610480  0.530769
25  0.000422  0.548760  0.631122  0.548718
26  0.000403  0.566710  0.651765  0.566667
27  0.000386  0.584660  0.672408  0.584615
28  0.000369  0.602610  0.693051  0.602564
29  0.000354  0.620560  0.713694  0.620513
30  0.000340  0.638510  0.734337  0.638462
31  0.000327  0.656460  0.754981  0.656410
32  0.000315  0.674410  0.775624  0.674359
33  0.000304  0.692360  0.796268  0.692308
34  0.000294  0.710310  0.816911  0.710256
35  0.000284  0.728260  0.837555  0.728205
36  0.000275  0.746211  0.858199  0.746154
37  0.000266  0.764161  0.878844  0.764103
38  0.000258  0.782111  0.899488  0.782051
39  0.000251  0.800061  0.920133  0.800000

# III. 
## Outward protection rates of a new mask and a old masks are 0.7 and 0.5
## Inward protection rates of a new mask and a old masks are 0.6 and 0.4
## Mask production does not growth

In [2]:
def SRA_robust(m=0.1,I_0=0.01):
    d0 = (1-(17/18)**14) * 0.0138 * I_0

    Nation = Threeperiod_SIRD(S=1-I_0,I=I_0,q_0=m,q1_0=0,q1_1=0,σo=0.4, σn=0.6, δo=0.5,δn=0.7)
    Nation.serveralupdates(2)
    d1_phi, d1_n = Nation.d1_0, Nation.d1_1

    m0,m1,m2=m,m,m

    q1 = m1/(1-d0)

    q2_coef = (1-d0)*( (1-d1_phi)*(1-m0) + (1-d1_n)*m0 )

    q2 = m2/q2_coef

    func = evaluate_death(S=1-I_0,I=I_0,q_0=m,q1_0=q1,q1_1=q1,q2_00=q2,q2_10=q2,q2_01=q2,q2_11=q2,t=300,σo=0.4, σn=0.6, δo=0.5,δn=0.7)

    return {'func':func,'q1':q1,'q2':q2}

In [3]:
m_vals=np.linspace(0.1,0.8,40)

result=map(lambda x: SRA_robust(x,I_0=0.01),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func', 'q1','q2'])
data['m_vals']=m_vals
data=data.rename(columns={'func':'D_vals'})

data.to_csv('Robust SRA.csv',index=False)
data

      D_vals        q1        q2    m_vals
0   0.002148  0.100008  0.100032  0.100000
1   0.002022  0.117958  0.117985  0.117949
2   0.001904  0.135908  0.135938  0.135897
3   0.001793  0.153858  0.153890  0.153846
4   0.001688  0.171808  0.171842  0.171795
5   0.001590  0.189758  0.189794  0.189744
6   0.001497  0.207708  0.207746  0.207692
7   0.001411  0.225658  0.225697  0.225641
8   0.001329  0.243608  0.243649  0.243590
9   0.001253  0.261558  0.261600  0.261538
10  0.001182  0.279508  0.279550  0.279487
11  0.001115  0.297459  0.297501  0.297436
12  0.001052  0.315409  0.315452  0.315385
13  0.000994  0.333359  0.333402  0.333333
14  0.000939  0.351309  0.351352  0.351282
15  0.000888  0.369259  0.369303  0.369231
16  0.000840  0.387209  0.387253  0.387179
17  0.000795  0.405159  0.405203  0.405128
18  0.000754  0.423109  0.423153  0.423077
19  0.000715  0.441059  0.441103  0.441026
20  0.000679  0.459009  0.459054  0.458974
21  0.000645  0.476959  0.477004  0.476923
22  0.000613  0.494909  0.494954  0.494872
23  0.000584  0.512859  0.512904  0.512821
24  0.000556  0.530810  0.530854  0.530769
25  0.000530  0.548760  0.548805  0.548718
26  0.000506  0.566710  0.566755  0.566667
27  0.000484  0.584660  0.584706  0.584615
28  0.000463  0.602610  0.602656  0.602564
29  0.000444  0.620560  0.620607  0.620513
30  0.000426  0.638510  0.638558  0.638462
31  0.000409  0.656460  0.656509  0.656410
32  0.000393  0.674410  0.674460  0.674359
33  0.000378  0.692360  0.692411  0.692308
34  0.000364  0.710310  0.710362  0.710256
35  0.000351  0.728260  0.728314  0.728205
36  0.000339  0.746211  0.746265  0.746154
37  0.000328  0.764161  0.764217  0.764103
38  0.000317  0.782111  0.782169  0.782051
39  0.000307  0.800061  0.800121  0.800000

# IV.
## Table content
## Inward/Outward protection rates of a new mask and a old masks are 0.7 and 0.5
## Mask production does not growth

In [10]:
m_vals=np.linspace(0.15,0.75,3)

result=map(lambda x: SRA(x,I_0=0.01),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func', 'q1','q2'])
data['m_vals']=m_vals
data=data.rename(columns={'func':'D_vals'})

data.to_csv('table SRA.csv',index=False)
data

     D_vals        q1        q2  m_vals
0  0.001586  0.150011  0.150043    0.15
1  0.000574  0.450034  0.450077    0.45
2  0.000279  0.750057  0.750107    0.75

# V. 
## Table content
## Inward/Outward protection rates of a new mask and a old masks are 0.7 and 0.5
## Mask production growths. $m_2=1.15m_0$

In [11]:
m_vals=np.array([0.2,0.4,0.5,0.7])

result=map(lambda x: SRA_growth(x,I_0=0.01),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func', 'q1','q2'])
data['m_vals']=m_vals
data=data.rename(columns={'func':'D_vals'})

data.to_csv('table SRA mm115m.csv',index=False)
data

     D_vals        q1        q2  m_vals
0  0.001295  0.200015  0.230060     0.2
1  0.000648  0.400030  0.460084     0.4
2  0.000481  0.500038  0.575093     0.5
3  0.000300  0.700053  0.805115     0.7

# VI. 
## Table content
## Outward protection rates of a new mask and a old masks are 0.7 and 0.5
## Inward protection rates of a new mask and a old masks are 0.6 and 0.4
## Mask production does not growth

In [5]:
def SRA_robust(m=0.1,I_0=0.01):
    d0 = (1-(17/18)**14) * 0.0138 * I_0

    Nation = Threeperiod_SIRD(S=1-I_0,I=I_0,q_0=m,q1_0=0,q1_1=0,σo=0.4, σn=0.6, δo=0.5,δn=0.7)
    Nation.serveralupdates(2)
    d1_phi, d1_n = Nation.d1_0, Nation.d1_1

    m0,m1,m2=m,m,m

    q1 = m1/(1-d0)

    q2_coef = (1-d0)*( (1-d1_phi)*(1-m0) + (1-d1_n)*m0 )

    q2 = m2/q2_coef

    func = evaluate_death(S=1-I_0,I=I_0,q_0=m,q1_0=q1,q1_1=q1,q2_00=q2,q2_10=q2,q2_01=q2,q2_11=q2,t=300,σo=0.4, σn=0.6, δo=0.5,δn=0.7)

    return {'func':func,'q1':q1,'q2':q2}

In [6]:
m_vals=np.linspace(0.15,0.75,3)

result=map(lambda x: SRA_robust(x,I_0=0.01),m_vals)
result=list(result)
data=pd.DataFrame.from_records(result, columns =['func', 'q1','q2'])
data['m_vals']=m_vals
data=data.rename(columns={'func':'D_vals'})

data.to_csv('table Robust SRA.csv',index=False)
data

     D_vals        q1        q2  m_vals
0  0.001816  0.150011  0.150043    0.15
1  0.000696  0.450034  0.450078    0.45
2  0.000336  0.750057  0.750112    0.75